In [1]:
#| default_exp core

import duckdb
import pandas as pd
import sqlalchemy
# No need to import duckdb_engine
#  SQLAlchemy will auto-detect the driver needed based on your connection string!

# Import ipython-sql Jupyter extension to create SQL cells
%load_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [3]:
%sql duckdb:///:memory:

In [8]:
%%sql
INSTALL 'httpfs';
LOAD 'httpfs';

Empty DataFrame
Columns: []
Index: []

In [10]:
%%sql
SELECT *
FROM 'https://raw.githubusercontent.com/kj-9/covid19jp/master/data-raw/dist/jp_daily.csv'
LIMIT 10;

         date tests  newCases activeCases severeCases recovered deaths  rt
0  2020-01-16    NA         1          NA          NA        NA     NA  NA
1  2020-01-17    NA         0          NA          NA        NA     NA  NA
2  2020-01-18    NA         0          NA          NA        NA     NA  NA
3  2020-01-19    NA         0          NA          NA        NA     NA  NA
4  2020-01-20    NA         0          NA          NA        NA     NA  NA
5  2020-01-21    NA         0          NA          NA        NA     NA  NA
6  2020-01-22    NA         0          NA          NA        NA     NA  NA
7  2020-01-23    NA         0          NA          NA        NA     NA  NA
8  2020-01-24    NA         1          NA          NA        NA     NA  NA
9  2020-01-25    NA         1          NA          NA        NA     NA  NA

# module name here

> API details.

In [2]:
#|hide
from nbdev.showdoc import *

In [3]:
#|export
def foo(): pass